certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
idna==3.4
mutagen==1.46.0
numpy==1.24.1
pycparser==2.21
pydub==0.25.1
pynput==1.7.6
pyobjc-core==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Quartz==9.0.1
requests==2.28.1
scipy==1.10.0
ShazamAPI==0.0.2
six==1.16.0
sounddevice==0.4.5
urllib3==1.26.13
wavio==0.0.7
